* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    position: relative;
    .content-container {
        margin: 0 auto;
        width: 960px;
        @media (max-width: 990px) {
            width: 660px;    
        }
        @media (max-width: 690px) {
            width: 460px;
        }
        @media (max-width: 490px) {
            width: 260px;
        }
    }
    #header {
        color: #fefefe;
        height: 200px;
        width: 100%;
        h1 {
            color: #10b5b8;
            line-height: 200px;
        }
    }
    #section {
    }
    #footer {
        margin-top: 75px;
        width: 100%;
    }
}